<settings>
	<servers>
		<server>
			<id>gsc-pspp-repo-releases</id>
			<configuration>
				<timeout>180000</timeout>
			</configuration>
			<username>${mvn.deploy.user}</username>
			<password>${mvn.deploy.pwd}</password>
		</server>
		<server>
			<id>gsc-pspp-repo-snapshots</id>
			<configuration>
				<timeout>180000</timeout> <!-- 180 seconds -->
			</configuration>
			<username>${mvn.deploy.user}</username>
			<password>${mvn.deploy.pwd}</password>
		</server>
		<server>
			<id>archetype</id>
			<configuration>
				<timeout>180000</timeout> <!-- 180 seconds -->
			</configuration>
			<username>${mvn.deploy.user}</username>
			<password>${mvn.deploy.pwd}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>default</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-repo-dependencies</id>
					<name>Nokia PSPP Dependencies Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-dependencies/
					</url>
					<layout>default</layout>
				</repository>
				<repository>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-repo-snapshots</id>
					<name>Nokia PSPP Snapshots Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-snapshots/
					</url>
					<layout>default</layout>
				</repository>
				<repository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-repo-releases</id>
					<name>Nokia PSPP Releases Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-releases/</url>
					<layout>default</layout>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-plugin-repo-dependencies</id>
					<name>Nokia PSPP Dependencies Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-dependencies/
					</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-plugin-repo-snapshots</id>
					<name>Nokia PSPP Snapshots Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-snapshots/
					</url>
					<layout>default</layout>
				</pluginRepository>
				<pluginRepository>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>daily</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
						<updatePolicy>never</updatePolicy>
						<checksumPolicy>fail</checksumPolicy>
					</snapshots>
					<id>gsc-pspp-plugin-repo-releases</id>
					<name>Nokia PSPP Releases Repository</name>
					<url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-releases/
					</url>
					<layout>default</layout>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<mirrors>
      <mirror>
        <id>gsc-pspp-repo-releases</id>
        <name>gsc-pspp-repo-releases</name>
        <url>https://repo.lab.pl.alcatel-lucent.com/gsc-pspp-mvn-dependencies/</url>
        <mirrorOf>external:*</mirrorOf>
      </mirror>
    </mirrors>
</settings>